<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP Test</title>
</head>
<body>

  <form>
    <input type="submit" id="requestSubmit">
  </form>

  <div id="response"></div>
<script src="local.js"></script>
</body>
</html>